<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="CurrentPort" value="3000"/>
		<add key="ConnectionIps" value="192.168.1.170:3001,192.168.1.170:3002"/>
	</appSettings>
</configuration>